body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  margin-top: 100px;
}
#sidebar {
  position: fixed;
  top: 100px;
  left: 0;
  width: 300px; 
  height: 100vh; 
  background-color: var(--color2);
  padding: 20px;
  box-sizing: border-box;
  z-index: 9999;
  overflow-y: auto;
}


header {
  background-color: #222;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

h1 {
  margin: 0;
  padding: 0;
}

#results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  margin-left: 350px;
  
}

.card {
  background-color: #d1e4ff;
  border: 1px solid #d1e4ff;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  margin: 10px;
  max-width: 300px;
  padding: 20px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  border-color: var(--color1-l2);
  box-shadow: 3px 3px 6px var(--color1-l2);
  transform: scale(1.1);
  cursor: pointer;
}

.card img {
  max-width: 100%;
  height: auto;
}

.card h3 {
  margin: 10px 0;
}

.card p {
  font-size: 1.2em;
  margin: 10px 0;
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--color2);
}

label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 16px;
  color: #f8f8f8;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #333;
}

textarea {
  resize: none;
  height: 150px;
}

button[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #2e8b57;
  cursor: pointer;
}

.responsive-iframe {
  max-width: 100%;
  width: 100%;
  height: auto;
}
footer {
  background-color: var(--color2);
  padding: 20px;
  text-align: center;
  clear: both;
  padding-left:25vh;
}

.containerRow {
  display: flex;
  justify-content: center;
}

.row1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.c2 {
  width: 50%;
  padding: 10px;
}

.alumno {
  margin-bottom: 20px;
  color:white;
}

.alumno img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.alumno h2 {
  margin-top: 10px;
}

.logoGrupo img {
  width: 150px;
  height: auto;
}

@media screen and (max-width: 480px) {
  body {
    margin-top: 50px;
    position: relative;
  }

  #results {
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
  }

  .card {
    max-width: 100%;
  }


  form {
    max-width: 100%;
    margin-bottom: 60px;
  }

  #sidebar {
    width: 100%;
    position: relative;
    height: auto;
    padding: 0;
  }


  .c2 {
  width: 100%;
  padding: 5px;
  }

  .alumno img {
  width: 50px;
  height: 50px;
  }

  .logoGrupo img {
  width: 300px;
  }
}


@media screen and (min-width: 676px) and (min-height: 600px) {
  #sidebar {
    overflow-y: auto;
  }
  form {
    max-width: 100%;
    margin-bottom: 60px;
  }
  .alumno h2 {
    margin-top: 10px;
    font-size: small;
  }
  
  .c2 {
    width: 20%;
    padding: 10px;
  }

  .alumno img {
    width: 40px;
    height: 40px;
  }

  .logoGrupo img {
    width: 100px;
  }
}
