header{

	position: relative;
	margin-top: 100px;
	
}
.imgHeader{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-image: url(../../../sources/pexels-august-de-richelieu-4259140.jpg);
	background-size: cover;
	background-position-y:center; 
	height: 600px;
<<<<<<< HEAD
	color: white;

}

.isotipo{
	width: 20%;
}

.imgHeader>div>div{
	display: flex;
	flex-direction: row;
	justify-content: center;

}
.botonesFlyer{
	gap:30px;
	flex-wrap: wrap;
}

@media (max-width: 480px){
	.isotipo{
		width: 40%;
	}
}

=======

}
.completeW{
	width: 100%;
}
.imgHeader div h1,h2{
	display: block;
	width: 100%;
	text-align: center;
	color: white;
}
.botonesHeader{
	justify-content: center;
}
.botonesHeader a{
	
	font-size: 24px;
	
	background-color: var(--color2);
	text-decoration: none;
	color: white;
	padding: 5px 20px;
	border-radius: 5px;
	transition: all .2s ease;
}
.botonesHeader a:hover{
	background-color: var(--color1);
	

}
.botonesHeader  .butonContent{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	
}
.isotipo{
	justify-content: center;
}
.isotipo>div{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.isotipo>div>img{
	width: 50%;
}
>>>>>>> Guille
