:root{
<<<<<<< HEAD
	/*--border: 1px solid red;

	/*--fondoF: #9DDB89FF;
	--fondoC: #DADC74FF;*/
	--color1: #000000;
	--color2:#14213d;
	--color3: #fca311;
	--color4: #e5e5e5;
	--color5: #ffffff;
	--iconSize1: 50px;
	--iconSize2: 100px;
	--altoSection: 450px;
	--fuentePrimary:'Rubik', sans-serif;
	
}
*{
	font-family: var(--fuentePrimary);
=======
	/*--border: 1px solid red;*/
	--color1: #8ecae6;
	--color1-l2: #EDF5FCFF;
	--color2:#219ebc;
	--color3: #023047;
	--color4: #ffb703;
	--color5: #fb8500;
	--iconSize1: 50px;
	--iconSize2: 100px;
	--altoSection: 450px;

}
*{
	font-family: sans-serif;
>>>>>>> Guille
}
body{
	margin:0;
}
.conteinerRow{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 86%;
	margin-left: 7%;
	border: var(--border);
}
<<<<<<< HEAD
.row1{
	display: flex;
	width: 99.2%;
	height: auto;
	flex-direction: row;
	justify-content: space-between;
	border: var(--border);
	background-color: var(--fondoF)
=======
.row{
	display: flex;
	width: 99.2%;
	flex-direction: row;
	justify-content: space-between;
	border: var(--border);
>>>>>>> Guille

}
.c1{
	position: relative;
	float: left;
	width: 20%;
	min-width: 20%;
	padding: 10px 10px;
	border: var(--border);
	margin-top: 5px;
	margin-bottom: 5px;
<<<<<<< HEAD
	background-color: var(--fondoC);
=======
>>>>>>> Guille
}
.c2{
	position: relative;
	float: left;
	width: 46.1%;
	min-width: 46.1%;
	padding: 10px 10px;
	border: var(--border);
	margin-top: 5px;
	margin-bottom: 5px;
<<<<<<< HEAD
	background-color: var(--fondoC);
=======
>>>>>>> Guille
}
.c3{
	
	position: relative;
	float: left;
	width: 72.15%;
	min-width: 72.15%;
	padding: 10px 10px;
	border: var(--border);
	margin-top: 5px;
	margin-bottom: 5px;
<<<<<<< HEAD
	background-color: var(--fondoC);
=======
>>>>>>> Guille
}
.c4{
	position: relative;
	float: left;
	width: 98.2%;
	min-width: 98.2%;
	padding: 10px 10px;
	border: var(--border);
	margin-top: 5px;
	margin-bottom: 5px;
<<<<<<< HEAD
	background-color: var(--fondoC);
}
section{
	margin-top: 100px;
	padding-top: 25px;
	padding-bottom: 25px;
	border: var(--border);
}
.anchoCompleto{
	width: 100% !important;
}
.altoCompleto{
	position: relative;
	height: 100%;
}
.alto1-2{
	position: relative;
	height: 50%;
}
.ancho1-2{
	position: relative;
	width: 50%;
}
.alto1-4{
	position: relative;
	height: 25%;
}
.ancho1-4{
	position: relative;
	width: 25%;
}
.alto3-4{
	position: relative;
	height: 75%;
}
.ancho3-4{
	position: relative;
	width: 75%;
}
.sinPadding{
	padding: 0;
}

.boton{
	border-radius: 5px;
	padding: 5px 10px;
	border: 1px solid var(--color1);
	background-color: var(--color2);
	color:white;
	text-decoration: none;
}
.botonGhost{
	border-radius: 5px;
	padding: 3px 5px;
	border: 1px solid var(--color3);
	text-decoration: none;
	color: var(--color3);
	margin: 0px 30px;
}
 .tCentrado{
 	text-align: center;
 }
=======
}
section{
	margin-top: 100px;
	
	border: var(--border);
}
>>>>>>> Guille

/* MEDIA QUERY */
@media (max-width: 1400px) and (min-width: 1121px){
   
}

@media (max-width: 1120px) and (min-width: 993px) {

}

@media (max-width: 992px) and (min-width: 769px){
<<<<<<< HEAD
	.row1{
=======
	.row{
>>>>>>> Guille
   		display: block;
   	}
	.c1,.c2{
		min-width: 46.8%;
	}
<<<<<<< HEAD
	.c3{
		min-width: 97%;
	}
	.c4{
		min-width: 100%;
	}
=======
	.c3,.c4{
		min-width: 97%;
	}
>>>>>>> Guille
  
}

@media (max-width: 768px) and (min-width: 577px){
	.conteiner{
		display: none;
	}
<<<<<<< HEAD
   	.row1{
=======
   	.row{
>>>>>>> Guille
   		display: block;
   	}
    .c1,.c2,.c3,.c4{
    	position: relative;
    	min-width: 96.5%;
    }

}

@media (max-width: 576px) and (min-width: 481px){
  
}

/*CELULARES*/
@media (max-width: 480px) and (min-width: 401px){
   .conteiner{
		display: none;
	}
<<<<<<< HEAD
   	.row1{
   		display: block;
   	}
    .c1,.c2,.c3{
    	position: relative;
    	min-width: 100%;
    	padding: 0;
    }
    .c4{
    	position: relative;
    	min-width: 100%;
    	padding: 0;
    }
    section{
    	margin-top: 25px;
    	padding-top:10px;
    	padding-bottom: 10px;
=======
   	.row{
   		display: block;
   	}
    .c1,.c2,.c3,.c4{
    	position: relative;
    	min-width: 93.5%;
>>>>>>> Guille
    }

}

@media (max-width: 400px) and (min-width: 361px) {
	.conteiner{
		display: none;
	}
<<<<<<< HEAD
   	.row1{
=======
   	.row{
>>>>>>> Guille
   		display: block;
   	}
    .c1,.c2,.c3,.c4{
    	position: relative;
    	min-width:93.5%;
    }
}

@media (max-width: 360px) {
  .conteiner{
		display: none;
	}
<<<<<<< HEAD
   	.row1{
=======
   	.row{
>>>>>>> Guille
   		display: block;
   	}
    .c1,.c2,.c3,.c4{
    	position: relative;
    	min-width: 93.5%;
    }
}

@media (min-width: 1200px) {
   
}