form{
	width: 100%;
	border-radius: 15px;
	
	padding: 20px 0;
	perspective: 500px;
	perspective-origin: top;
	display: flex;
	flex-direction: column;
	gap:15px;
}

.contenedorInput{
	width: 100%;
	height: 50px;
	padding: 5px 0;
	display: flex;
	border-radius: 10px;
	border:1px solid var(--color3);
	transform-style: preserve-3d;
	transition:all .6s ease;
}
.contentTextArea{
	position: relative;
	width: 100%;
	height: auto;
	padding: 5px 0;
	display: flex;
	border-radius: 10px;
	border:1px solid var(--color3);
	transform-style: preserve-3d;
	transition:all .6s ease;
}

form input{
	width: 80%;
	height: 60%;
	margin: auto;
	border:none;
	outline: none;
	/*background-size: 200% 100%;*/
	background: linear-gradient(90deg,orange 0%, transparent 50%);
	transition: all .6s ease-in-out;
}
form input:valid{
	background: transparent;
}

.contentHover{
	
	background: rgba(255, 135, 0, 0.52);

}
.inputHover{
	
	/*transform: translateY(35px) rotateX(-70deg);
	box-shadow: 5px 5px 10px black;*/
}
.textAreaHover{
	
	/*transform: translateZ(100px) translateY(100px) rotateX(-70deg);*/
	/*box-shadow: 20px 20px 30px black;*/
}
textarea{
	width: 80%;
	height: 250px;
	margin:auto;
	border:none;
	outline: none;
	transition: all .6s ease-in-out;
	resize: none;
	background: transparent;
	font-size: 18px;
	padding-top: 10px;
}
form button{
	transition: all .3s ease-in-out;
	height: 30px;
	background: var(--color3);
	color:black;
	font-weight: bold;
	font-size: 16px;
	border-radius: 5px;
	border: none;

}
form button:hover{
	cursor: pointer;
}
